*{
    font-family: 'Anton', sans-serif;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.logo {

    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #212529;
    padding: 50px;
}
.logo-font {
    color: white;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 50px;

}

html,body {
    background-color: whitesmoke;
}
.logoimg {
    width: 200px;
    border: none;
    margin: 0px 0px 0px 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 35%;
}

.img {
    border: none;
    margin: 0px 0px 0px 0px;
    justify-content: center;
    align-items: center;
    border-top: solid 3px #212529;
    border-left: solid 3px #212529;
    border-right: solid 3px #212529;
    position: relative;
}
img {
    width: 295px;
    height: 200px;
    border: none;
    margin: 0px 0px 0px 0px;
    justify-content: center;
    align-items: center;
}

.content {
   width: 300px;
    height: 250px;
    border: solid 3px #212529;
    position: relative;
}

.content h3{
    color: #212529;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 50px;
}

.content p {
    color: #212529;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;

}

.precio {
    width: 200px;
    height: 30px;
    background-color:#212529 ;
    position: relative;
    top: -20px;
    border-radius: 10px;
}

.precio h3 {
    color: white;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
}

.bebidas,.cocteles {
    display: block;
    width: 300px;
    height: 200px;
    border: solid 3px #212529;
    margin: 20px;
 }

li {
    list-style: none;
    color:#212529 ;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    margin: 10px;
    padding: 0px;
}
ul {
    margin: 0px;
    padding: 0px;
}

.bebidas h3,.cocteles h3 {
    color: #212529;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 30px;
}

.container {
    margin: 0;
    padding: 0;
}



